In [1]:
! pip install pandas numpy matplotlib seaborn

Requirement already satisfied: pandas in c:\users\bianc\appdata\local\programs\python\python312\lib\site-packages (2.2.2)
Requirement already satisfied: numpy in c:\users\bianc\appdata\local\programs\python\python312\lib\site-packages (2.1.0)
Requirement already satisfied: matplotlib in c:\users\bianc\appdata\local\programs\python\python312\lib\site-packages (3.9.2)
Requirement already satisfied: seaborn in c:\users\bianc\appdata\local\programs\python\python312\lib\site-packages (0.13.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\bianc\appdata\roaming\python\python312\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\bianc\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\bianc\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\bianc\appdata\local\programs\python\python312\lib\site-packages (from matplotlib) (1.3.0)
Requirement already satisfied: cycler>=0.10 in c:\users\bianc\appdata\local\programs\python\python312\lib\site-packages (from matplotlib) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\bianc\appdata\local\programs\python\python312\lib\site-packages (from matplotlib) (4.53.1)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\bianc\appdata\local\programs\python\python312\lib\site-packages (from matplotlib) (1.4.7)
Requirement already satisfied: packaging>=20.0 in c:\users\bianc\appdata\roaming\python\python312\site-packages (from matplotlib) (24.1)
Requirement already satisfied: pillow>=8 in c:\users\bianc\appdata\local\programs\python\python312\lib\site-packages (from matplotlib) (10.4.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\bianc\appdata\local\programs\python\python312\lib\site-packages (from matplotlib) (3.1.4)
Requirement already satisfied: six>=1.5 in c:\users\bianc\appdata\roaming\python\python312\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

[notice] A new release of pip is available: 24.0 -> 24.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [2]:
! pip freeze > requirements.txt

In [3]:
import pandas as pd

# Carga del archivo CSV
df = pd.read_csv(r'C:\Users\bianc\OneDrive\Escritorio\proyectofinal\BegInvFINAL12312016_Clean.csv')

In [4]:
print(df.head())  # Muestra las primeras filas

         InventoryId  Store          City  Brand                  Description  \
0  1_HARDERSFIELD_58      1  HARDERSFIELD     58  Gekkeikan Black & Gold Sake
1  1_HARDERSFIELD_60      1  HARDERSFIELD     60       Canadian Club 1858 VAP
2  1_HARDERSFIELD_62      1  HARDERSFIELD     62     Herradura Silver Tequila
3  1_HARDERSFIELD_63      1  HARDERSFIELD     63   Herradura Reposado Tequila
4  1_HARDERSFIELD_72      1  HARDERSFIELD     72         No. 3 London Dry Gin

    Size  onHand  Price   startDate
0  750mL       8  12.99  2016-01-01
1  750mL       7  10.99  2016-01-01
2  750mL       6  36.99  2016-01-01
3  750mL       3  38.99  2016-01-01
4  750mL       6  34.99  2016-01-01

In [5]:
import warnings
warnings.filterwarnings("ignore")

In [6]:
df.rename(columns={
   
    'InventoryID': 'InventarioID',
    'Store': 'Tienda',
    'Ciudad': 'City',
    'Brand': 'Marca',
    'Description': 'Descripcion',
    'onHand': 'EnLaMano',
    'Price': 'Precio',
    'startDate': 'FechaDeInicio'
}, inplace=True)

In [7]:
print(df.head())  # Muestra las primeras filas

         InventoryId  Tienda          City  Marca  \
0  1_HARDERSFIELD_58       1  HARDERSFIELD     58
1  1_HARDERSFIELD_60       1  HARDERSFIELD     60
2  1_HARDERSFIELD_62       1  HARDERSFIELD     62
3  1_HARDERSFIELD_63       1  HARDERSFIELD     63
4  1_HARDERSFIELD_72       1  HARDERSFIELD     72

                   Descripcion   Size  EnLaMano  Precio FechaDeInicio
0  Gekkeikan Black & Gold Sake  750mL         8   12.99    2016-01-01
1       Canadian Club 1858 VAP  750mL         7   10.99    2016-01-01
2     Herradura Silver Tequila  750mL         6   36.99    2016-01-01
3   Herradura Reposado Tequila  750mL         3   38.99    2016-01-01
4         No. 3 London Dry Gin  750mL         6   34.99    2016-01-01

In [8]:
df.rename(columns={
    'InventoryId': 'InventarioID',
    
}, inplace=True)

In [9]:
print(df.head())  # Muestra las primeras filas

        InventarioID  Tienda          City  Marca  \
0  1_HARDERSFIELD_58       1  HARDERSFIELD     58
1  1_HARDERSFIELD_60       1  HARDERSFIELD     60
2  1_HARDERSFIELD_62       1  HARDERSFIELD     62
3  1_HARDERSFIELD_63       1  HARDERSFIELD     63
4  1_HARDERSFIELD_72       1  HARDERSFIELD     72

                   Descripcion   Size  EnLaMano  Precio FechaDeInicio
0  Gekkeikan Black & Gold Sake  750mL         8   12.99    2016-01-01
1       Canadian Club 1858 VAP  750mL         7   10.99    2016-01-01
2     Herradura Silver Tequila  750mL         6   36.99    2016-01-01
3   Herradura Reposado Tequila  750mL         3   38.99    2016-01-01
4         No. 3 London Dry Gin  750mL         6   34.99    2016-01-01

In [10]:
! pip freeze > requirements.txt

In [11]:
df.drop(columns=['Size'], inplace=True)

In [12]:
print(df.head())  # Muestra las primeras filas

        InventarioID  Tienda          City  Marca  \
0  1_HARDERSFIELD_58       1  HARDERSFIELD     58
1  1_HARDERSFIELD_60       1  HARDERSFIELD     60
2  1_HARDERSFIELD_62       1  HARDERSFIELD     62
3  1_HARDERSFIELD_63       1  HARDERSFIELD     63
4  1_HARDERSFIELD_72       1  HARDERSFIELD     72

                   Descripcion  EnLaMano  Precio FechaDeInicio
0  Gekkeikan Black & Gold Sake         8   12.99    2016-01-01
1       Canadian Club 1858 VAP         7   10.99    2016-01-01
2     Herradura Silver Tequila         6   36.99    2016-01-01
3   Herradura Reposado Tequila         3   38.99    2016-01-01
4         No. 3 London Dry Gin         6   34.99    2016-01-01

In [13]:
df.rename(columns={
    'City': 'Ciudad'
    
}, inplace=True)

In [14]:
print(df.head())  # Muestra las primeras filas

        InventarioID  Tienda        Ciudad  Marca  \
0  1_HARDERSFIELD_58       1  HARDERSFIELD     58
1  1_HARDERSFIELD_60       1  HARDERSFIELD     60
2  1_HARDERSFIELD_62       1  HARDERSFIELD     62
3  1_HARDERSFIELD_63       1  HARDERSFIELD     63
4  1_HARDERSFIELD_72       1  HARDERSFIELD     72

                   Descripcion  EnLaMano  Precio FechaDeInicio
0  Gekkeikan Black & Gold Sake         8   12.99    2016-01-01
1       Canadian Club 1858 VAP         7   10.99    2016-01-01
2     Herradura Silver Tequila         6   36.99    2016-01-01
3   Herradura Reposado Tequila         3   38.99    2016-01-01
4         No. 3 London Dry Gin         6   34.99    2016-01-01

In [15]:
! pip freeze > requirements.txt

In [16]:
print(df.info())  # Información de columnas y tipos de datos

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 206529 entries, 0 to 206528
Data columns (total 8 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   InventarioID   206529 non-null  object
 1   Tienda         206529 non-null  int64
 2   Ciudad         206529 non-null  object
 3   Marca          206529 non-null  int64
 4   Descripcion    206529 non-null  object
 5   EnLaMano       206529 non-null  int64
 6   Precio         206529 non-null  float64
 7   FechaDeInicio  206529 non-null  object
dtypes: float64(1), int64(3), object(4)
memory usage: 12.6+ MB
None

In [17]:
import numpy as np

In [18]:
np.shape(df)

(206529, 8)

Conversión del tipo de datos:

In [20]:
df['FechaDeInicio'] = pd.to_datetime(df['FechaDeInicio'], format='%Y-%m-%d')
df['Tienda'] = pd.to_numeric(df['Tienda'], errors='coerce')
df['Marca'] = pd.to_numeric(df['Marca'], errors='coerce')
df['Precio'] = pd.to_numeric(df['Precio'], errors='coerce')
df['EnLaMano'] = pd.to_numeric(df['EnLaMano'], errors='coerce')

In [21]:
print(df.columns)

Index(['InventarioID', 'Tienda', 'Ciudad', 'Marca', 'Descripcion', 'EnLaMano',
       'Precio', 'FechaDeInicio'],
      dtype='object')

In [22]:
df.isnull().sum() #busco nulos

InventarioID     0
Tienda           0
Ciudad           0
Marca            0
Descripcion      0
EnLaMano         0
Precio           0
FechaDeInicio    0
dtype: int64

In [23]:
duplicados = df[df.duplicated()]

print(duplicados)

Empty DataFrame
Columns: [InventarioID, Tienda, Ciudad, Marca, Descripcion, EnLaMano, Precio, FechaDeInicio]
Index: []

No se encontraron duplicados

In [24]:
print(df.info())  # Información de columnas y tipos de datos

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 206529 entries, 0 to 206528
Data columns (total 8 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   InventarioID   206529 non-null  object
 1   Tienda         206529 non-null  int64
 2   Ciudad         206529 non-null  object
 3   Marca          206529 non-null  int64
 4   Descripcion    206529 non-null  object
 5   EnLaMano       206529 non-null  int64
 6   Precio         206529 non-null  float64
 7   FechaDeInicio  206529 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(1), int64(3), object(3)
memory usage: 12.6+ MB
None

In [25]:
pip install sqlalchemy pyodbc

Requirement already satisfied: sqlalchemy in c:\users\bianc\appdata\local\programs\python\python312\lib\site-packages (2.0.35)
Requirement already satisfied: pyodbc in c:\users\bianc\appdata\local\programs\python\python312\lib\site-packages (5.1.0)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\bianc\appdata\local\programs\python\python312\lib\site-packages (from sqlalchemy) (4.12.2)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\bianc\appdata\local\programs\python\python312\lib\site-packages (from sqlalchemy) (3.1.1)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.0 -> 24.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [26]:
def calcular_estadisticas(data): 
    for columna in data.columns:
        if data[columna].dtype == 'float64' or data[columna].dtype == 'int64':
            print(columna)
            print('Mediana:', data[columna].median())
            print('Varianza: ', np.around((data[columna].var()),decimals=2)) # Casteo (redondeo) a 2 decimales
            print('Rango:', data[columna].max() - data[columna].min())
            print('Moda:', data[columna].mode()[0])
            print('--------------------------------')

calcular_estadisticas(df)

Tienda
Mediana: 42.0
Varianza:  537.84
Rango: 78
Moda: 34
--------------------------------
Marca
Mediana: 8010.0
Varianza:  170548695.08
Rango: 90032
Moda: 77
--------------------------------
EnLaMano
Mediana: 12.0
Varianza:  990.19
Rango: 1251
Moda: 12
--------------------------------
Precio
Mediana: 14.99
Varianza:  4925.09
Rango: 13999.9
Moda: 9.99
--------------------------------

In [27]:
# Guardar el DataFrame transformado
df.to_csv(r'C:\Users\bianc\OneDrive\Escritorio\proyectofinal\LimpiezaBegInvFINAL12312016', index=False)

In [28]:
#carga archivo csv
df2 = pd.read_csv(r'C:\Users\bianc\OneDrive\Escritorio\proyectofinal\LimpiezaBegInvFINAL12312016')

In [29]:
print(df2.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 206529 entries, 0 to 206528
Data columns (total 8 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   InventarioID   206529 non-null  object
 1   Tienda         206529 non-null  int64
 2   Ciudad         206529 non-null  object
 3   Marca          206529 non-null  int64
 4   Descripcion    206529 non-null  object
 5   EnLaMano       206529 non-null  int64
 6   Precio         206529 non-null  float64
 7   FechaDeInicio  206529 non-null  object
dtypes: float64(1), int64(3), object(4)
memory usage: 12.6+ MB
None

In [31]:
import pyodbc
import pandas as pd
from sqlalchemy import create_engine, types

InventarioInicial_df = pd.read_csv(r'C:\Users\bianc\OneDrive\Escritorio\proyectofinal\LimpiezaBegInvFINAL12312016')
# Asegurar que las columnas tengan los tipos de datos correctos
InventarioInicial_df['InventarioID'] = InventarioInicial_df['InventarioID'].astype(str)  # Convertir a string para usar VARCHAR en SQL
InventarioInicial_df['FechaDeInicio'] = pd.to_datetime(InventarioInicial_df['FechaDeInicio']) 


# Crear la conexión con SQL Server usando autenticación de Windows
# Usando el nombre del servidor SQLEXPRESS y Trusted Connection
engine = create_engine('mssql+pyodbc://BIANCA\SQLEXPRESS/PremiumDrinks?trusted_connection=yes&driver=ODBC+Driver+18+for+SQL+Server&TrustServerCertificate=yes')

# Especificar los tipos de datos para cada columna en SQL Server
dtype_sql = {
    'InventarioID': types.VARCHAR(length=255),  # VARCHAR en SQL Server para InventarioID
    'Tienda': types.INTEGER,  # INTEGER para la columna Tienda
    'Ciudad': types.VARCHAR(length=255),  # VARCHAR para la columna Ciudad
    'Marca': types.INTEGER,  # INTEGER para la columna Marca
    'Descripcion': types.VARCHAR(length=255),  # VARCHAR para la columna Descripcion
    'EnLaMano': types.INTEGER,  # INTEGER para la columna EnLaMano
    'Precio': types.FLOAT,  # FLOAT para la columna Precio
    'FechaDeInicio': types.DATETIME  # DATETIME para la columna FechaDeCierre
}

# Exportar el DataFrame a una tabla SQL llamada FechadeInicio
InventarioInicial_df.to_sql('InventarioInicial', con=engine, if_exists='replace', index=False, dtype=dtype_sql)

print("Datos exportados exitosamente a la tabla InventarioInicial en la base de datos PremiumDrinks")

Datos exportados exitosamente a la tabla InventarioInicial en la base de datos PremiumDrinks